# ==========================================
# 1. .NET / Visual Studio (api_mojo)
# ==========================================
bin/
obj/
[Dd]ebug/
[Rr]elease/
.vs/
*.user
*.suo
*.sln.docstates

# ==========================================
# 2. Angular (front_mojo)
# ==========================================
# Dépendances (le plus important)
**/node_modules/

# Cache et fichiers de build
**/.angular/
**/dist/
**/.cache/

# Fichiers de log npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ==========================================
# 3. IDE / Éditeurs (VS Code)
# ==========================================
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
.history/
*.log

# ==========================================
# 4. OS & Divers
# ==========================================
.DS_Store
Thumbs.db
*.lock